html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  background-color: #f8f9fa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

iframe {
  width: 100%;
}

button {
  font-family: "Rubik" !important;
}

.rbc-toolbar .rbc-toolbar-label {
  text-align: center !important;

  @media (min-width: 768px) {
    text-align: right !important;
  }
}